@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="display-4">Progra Avanzada Wweb</h1>
    <h1 class="display-4">iNTEGRANTES:</h1>
    <h2 class="display-4">Felipe Quesada Herrera</h2>
    <h2 class="display-4">Ian Aguilar Brenes</h2>
    <h2 class="display-4">Sebastian Mendes Artavia</h2>
    <h2 class="display-4">Jason Orozco Ruiz</h2>
</div>
